<!--- Article Cards -->
<div class="container-fluid">
  <div class="row">
    {{#each articles}}
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card">
        <img src="{{image}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{headline}}</h5>
          <a href="{{url}}" target="_blank" class="btn btn-primary"><i class="fas fa-newspaper"></i> View Article</i></a>
          <a class="collapsed btn btn-primary" data-toggle="collapse" href="#collapse-comments-{{_id}}" aria-expanded="true" aria-controls="collapse-comments-{{_id}}">
            <i class="fas fa-comments"></i> View Comments 
          </a>
          <div id="collapse-comments-{{_id}}" class="collapse">
            <ul class="list-group">
              {{#if comments.length}}
                {{#each comments}}
                  <li class="list-group-item">
                    <h5>{{title}}</h5>
                    <p>{{body}}</p>
                    <form action="/api/delete-comment" method="POST">
                      <input type="hidden" value="{{../_id}}" name="articleID">
                      <input type="hidden" value="{{_id}}" name="commentID">
                      <input class="remove" type="submit" value="x">
                    </form>
                  </li>
                {{/each}}
              {{else}}
                <p>None</p>
              {{/if}}
            </ul>
          </div>
          <a class="collapsed btn btn-primary" data-toggle="collapse" href="#collapse-form-{{_id}}" aria-expanded="true" aria-controls="collapse-form-{{_id}}">
            <i class="fas fa-pencil-alt"></i> Leave a Comment 
          </a>
          <div id="collapse-form-{{_id}}" class="collapse">
            <form class="comment-form" action="/api/add-comment" method="POST">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title">
              </div>
              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
              </div>
              <input type="hidden" value="{{_id}}" name="articleID">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}} 
  </div>
</div>
