
<!--- Jumbotron -->
<div class="container-fluid">
  <div class="row jumbotron text-center">
    <div class="col-12">
      <h1 class="display-2">Sports News</h1>
    </div>
    <div class="col-12">
      <h2 class="display-5">The lastest sports news</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{#each articles}}
    <div class="col-12 col-md-6">
      <div class="card">
        <img src="{{image}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{headline}}</h5>
          <a href="{{url}}" target="_blank" class="btn btn-primary">View Article</a>
          <a class="collapsed btn btn-primary" data-toggle="collapse" href="#collapse-{{_id}}" aria-expanded="true" aria-controls="collapse-{{_id}}">
            Leave a Comment
            <i class="fa fa-chevron-down pull-right"></i>
          </a>
          <div id="collapse-{{_id}}" class="collapse">
            <form>
              <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="username" placeholder="ex. John">
              </div>
              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" rows="3">Write comment here</textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}} 
  </div>
</div>
